.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  grid-column-gap: 6px;
  grid-row-gap:6px;
  gap: 1em;
  justify-items: center;
}

.product-info {
  display: flex;
  justify-content: space-around;
}
.product-info .product-image img {
  max-width: 700px;
  height: 400px;
}
.product-info .product-desc {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
