 /* BUTTONS */

 .primary-button {
 background-color: var(--main-primary-button-bg);
 color: var(--main-secondary-button-text);
 padding: 15px 20px;
 font-family: 'Raleway', sans-serif !important;
 border: 1px solid var(--main-primary-button-bg);
 transition: 0.3s;
 cursor: pointer;
}
.primary-button:hover {
  background-color: var(--main-secondary-button-bg);
  color: var(--main-primary-button-text);
  border: 1px solid var(--main-primary-button-bg);
}

.secondary-button {
  background-color: var(--main-secondary-button-bg);
  color: var(--main-primary-button-text);
  padding: 15px 20px;
  margin-left: 10px;
	font-family: 'Raleway', sans-serif !important;
  transition: 0.3s;
  cursor: pointer;
  border: 1px solid var(--main-primary-button-bg);
 }
 .secondary-button:hover {
  background-color: var(--main-primary-button-bg);
  color: var(--main-secondary-button-text);
  border: 1px solid var(--main-secondary-button-bg);
 }

 .base-circle-button {
  background-color: var(--main-primary-button-bg);
  min-height: 46px;
  border-radius: 5px;
  cursor: pointer;
  min-width: 46px;
  margin-left: 10px;
  transition: 0.3s;
  border: 1px solid var(--main-button-border-color);
  color: var(--main-secondary-text-color);
}
.base-circle-button:hover {
  background-color: var(--main-primary-button-bg-hover);
  color: var(--main-secondary-text-color);
}

 /* INPUTS */
.form-label {
  font-size: 12px;
  color: var(--main-title-color);
}

.form-input {
  background-color: var(--main-nav-bg-color);
  border: none;
	font-family: 'Raleway', sans-serif !important;
  padding: 10px;
  min-height: 46px;
  font-size: 14px;
  resize: none;
}