 /* BUTTONS */

 .primary-button {
 background-color: var(--main-primary-button-bg);
 color: var(--main-secondary-button-text);
 padding: 15px 20px;
 font-family: 'Raleway', sans-serif !important;
 border: none;
 cursor: pointer;
}
.primary-button:hover {
  background-color: var(--main-secondary-button-bg);
  color: var(--main-primary-button-text);
  border: 1px solid var(--main--button-bg);
}

.secondary-button {
  background-color: var(--main-secondary-button-bg);
  color: var(--main-primary-button-text);
  padding: 15px 20px;
  margin-left: 10px;
	font-family: 'Raleway', sans-serif !important;
  cursor: pointer;
  border: 1px solid var(--main-primary-button-bg);
 }
 .secondary-button:hover {
  background-color: var(--main-primary-button-bg);
  color: var(--main-secondary-button-text);
 }

 .base-circle-button {
  background-color: var(--main-primary-button-bg);
  min-height: 46px;
  border-radius: 5px;
  cursor: pointer;
  min-width: 46px;
  margin-left: 10px;
  transition: 0.3s;
  border: 1px solid var(--main-button-border-color);
  color: var(--main-secondary-text-color);
}
.base-circle-button:hover {
  background-color: var(--main-secondary-button-bg);
  color: var(--main-primary-text-color);
}

 /* INPUTS */

.form-input {
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: var(--main-nav-bg-color);
  border: none;
	font-family: 'Raleway', sans-serif !important;
  padding: 10px;
  font-size: 16px;
}
.form-input:last-of-type {
  margin-bottom: 10px;
}