:root {
  --main-nav-bg-color: #fff;
  --main-primary-bg-color: #f5f5f5;
  --main-secondary-bg-color: #EAF2FD;
  --main-primary-text-color: #464646;
  --main-secondary-text-color: #fff;
  --main-placeholder-text-color: #A2A2A2;
  --main-primary-button-text: #2A7AE4;
  --main-secondary-button-text: #fff;
  --main-primary-button-bg: #2A7AE4;
  --main-primary-button-bg-hover: #5595E9;
  --main-secondary-button-bg: #f5f5f5;
  --main-secondary-button-bg-hover: #2A7AE4;
}