/*#region Base Card Item*/
.item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--main-nav-bg-color);
  width: 170px;
  max-width: 250px;
}

.item-info .item-title {
  display: flex;
  width: 100%;
}

.item-info .item-title p, .item-desc p {
  padding: 5px;
  padding-left: 0px;
  color: var(--main-primary-text-color);
}

.item-info .item-title p:nth-child(2){
  margin-left: auto;
}
.item-info .item-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: 600;
  padding: 10px 10px 0px 10px;
  color: var(--main-primary-text-color);
}
/*#endregion*/

/*#region Base Form & Base Dialog Component*/
.base-sideform {
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: 70%;
  width: 30%;
  height: 100%;
  background-color: var(--main-secondary-bg-color);
  border: none;
  z-index: 21;
  animation: slide 1s forwards;
}

.base-dialog {
  top: 50%;
  min-width: 30%;
  max-height: 87%;
  overflow-y: auto;
  height: auto;
  border-radius: 10px;
  background-color: var(--main-secondary-bg-color);
  transform: translateY(-50%);
  z-index: 21;
  animation: popslide 1s forwards;
}

.sideform, .dialog {
  width: 100%
}
.sideform-header, .dialog-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sideform-header h2, .dialog-header h2 {
  padding: 15px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: var(--main-primary-text-color);
}
.sideform-content, .dialog-content {
  padding: 10px 0px 0px 0px;
}
.sideform-action, .dialog-action {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.sideform-action button, .dialog-action button {
  background-color: var(--main-primary-button-bg);
  border: 1px solid var(--main-secondary-button-bg);
  color: var(--main-secondary-text-color);
  padding: 5px;
  width: 95%;
  height: 40px;
  border-radius: 5px;
  margin: 0px 5px 0px 5px;
  font-weight: 500;
  transition: 0.3s;
}
.sideform-action button:hover, .dialog-action button:hover {
  background-color: var(--main-secondary-button-bg);
  color: var(--main-primary-button-text);
  border: 1px solid var(--main-primary-button-bg);
}

/*#endregion*/
