@media only screen and (min-width: 280px) and (max-width: 768px) {
  nav {
    padding: 0px;
    flex-direction: column;
    height: 51px;
    z-index: 21;
  }
  .header-logo {
    width: 100%;
    padding: 0px 5%;
    margin-right: 0px;
    z-index: 21;
  }
  .header-search {
    width: 100%;
    z-index: 21;
  }
  .header-search form, .header-search input {
    border-radius: 0px;
  }
  .header-search button {
    border-radius: 0px;
  }
  .header-list {
    flex-direction: column;
    z-index: 21;
  }
  .header-action {
    display: none;
  }

  .hero header {
    padding-left: 1rem;
  }

  .content-box {
    padding: 1rem 0.50rem;
  }
  .content h1 {
    font-size: 16px;
    width: auto;
    margin-right: 10px;
  }
  .base-sideform {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    margin-right: 0px;
    padding: 10px;
  }
  .sideform-content {
    padding: 0px;
  }
  .base-dialog {
    width: 80% !important
  }

  .product-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
  .product-info {
    flex-wrap: wrap;
    padding: 20px;
  }
  .product-info .product-image {
    margin-right: 0px;
    margin-bottom: 40px;
  }
  .product-info .product-desc {
    width: 100%;
  }
  .product-info .product-desc h1 {
    font-size: 21px;
  }
  .item-info {
    width: 180px !important; 
  }
  .contact {
    flex-direction: column;
    align-items: center;
  }

  .contact-form {
    padding: 0px 30px;
    width: 100%;
  }
}
@media screen and (min-width: 769px) {
  nav {
    justify-content: space-between;
    padding: 5px 5%;
  }
  .header-search {
    display: block;
    z-index: 0;
  }
  .hero header {
    padding-left: 1rem;
  }
  #searchToggle, #menuToggle {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .product-list {
    grid-template-columns: repeat(4, 1fr);
  }
}