/* Base Module */
html {
	font-family: 'Raleway', sans-serif !important;
}
#root-app {
  background-color: var(--main-primary-bg-color);
  padding: 0px;
}
.content-box {
  padding: 2rem 2.25rem;
}
.content {
  display: flex;
  align-items: center;
  padding: 1.25rem 0rem;
  min-height: 57px;
  border-bottom: 1px solid var(--main-border-bottom-color);
}
.content h1 {
  font-size: 20px;
  font-weight: 800;
  color: var(--main-primary-text-color);
}

/* Aux Class */
.outside {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 20;
}
.outsideNav {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0px;
  z-index: 20;
}