/* Base Module */
html {
	font-family: 'Raleway', sans-serif !important;
}

.content-box {
  padding: 0px;
}
.content {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 1.25rem 1.25rem;
  min-height: 57px;
  border-bottom: 1px solid var(--main-border-bottom-color);
}
.content h1 {
  font-size: 20px;
  font-weight: 800;
  text-transform: capitalize;
  color: var(--main-primary-text-color);
}

/* Aux Class */
.outside {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 20;
}