@import url(../assets/css/atoms.css);
@import url(../assets/css/colors.css);
@import url(../assets/css/components.css);
@import url(../assets/css/reset.css);

/* Base Module */
html {
	font-family: 'Raleway', sans-serif !important;
}

.content-box {
  padding: 10px;
}
.content {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  min-height: 57px;
  border-bottom: 1px solid var(--main-border-bottom-color);
}
.content h1 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--main-title-color);
}

/* Aux Class */
.outside {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 20;
  display: none;
}